<launch>
    <!-- Load URDF into the ROS Parameter Server -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find autonomous_robot)/urdf/robot.urdf'"/>

    <!-- Launch Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find autonomous_robot)/rviz/robot.rviz" required="true"/>

    <!-- Robot State Publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Joint State Publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
</launch>
